{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ path('user_index') }}" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-sm-6">
            <h1 class="text-center">User</h1>
        </div>
        <div class="col-sm-3">
            {{ form_start(delete_form) }}
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning">Edit</a>
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('R u sure?')">
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Mac</th>
                <td>{{ user.mac }}</td>
            </tr>
            <tr>
                <th>Access Key</th>
                <td>{{ user.accessKey }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Accesses</h2>
    {% if user.logs.count %}
        <ul>
            {% for log in user.logs %}
                <li>{{ log.datetime|date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not accessed yet</p>
    {% endif %}





{% endblock %}
