{% extends 'base.html.twig' %}

{% block body %}
    <h1>Devices list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Apikey</th>
                <th>Suspended</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.apikey }}</td>
                <td>{% if device.suspended %}Yes{% endif %}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('device_edit', { 'id': device.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('device_new') }}">
        <span class="glyphicon glyphicon-plus"></span>
        Create a new device
    </a>

{% endblock %}
